.button_primary {
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  background: $color-primary;
  cursor: pointer;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.around__btn {
  // background-image: url(../images/Arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.learn__btn {
  margin-top: 30px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
  border: 2px solid $color-primary;
  border-radius: 100px;
  padding: 13px 43px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  background: transparent;
  transition: 0.3s ease-in-out;
}
